* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  user-select: none;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-color: #060a1f;
  font-family: "Montserrat", sans-serif;
}
nav {
  position: relative;
  width: 170px;
  height: 80px;
  background-color: #080e2b;
  border-radius: 5px;
  border: 1px solid #060a1f;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}
nav::before {
  content: "MENU";
  position: absolute;
  color: #a9b5ef;
  font-size: 30px;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  line-height: 80px;
  background-color: #080e2b;
  z-index: 10;
  transition: 0.3s;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 80px;
}
ul a {
  color: #a9b5ef;
  text-decoration: none;
  font-size: 24px;
  margin: 0 -50px;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
ul a:hover,
ul a.active {
  background: #0c2540;
}
nav._expand {
  width: 730px;
}
nav._expand ul a {
  margin: 0 10px;
  padding: 10px 15px;
  opacity: 1;
  pointer-events: auto;
}
nav._expand::before {
  opacity: 0;
  pointer-events: none;
}
